{%extends 'inicio.html.twig'%}
{% block body %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img id="logo" height="20" src="{{asset('public/logos/logo.png')}}" width="20" class="img-responsive" alt="Responsive image">
				</a>
				<p>
					Modulo Cero	
				</p>
			</div>
		</div>
	</nav>
	<div class="container">
		{% if error%}			
			 <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>			
		{% endif %}
		{%for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-danger" role="alert">
 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>							
                <div class="container"> {{flashMessage}}</div>
            </div>
    	{% endfor %}
		<form class="form-horizontal" role="form" method="post" action="{{path('vct_mod_login_check')}}">
			<div class="form-group">
				<label for="inputEmail3" class="col-md-2 control-label">Email</label>
				<div class="col-md-6">
					<input type="email" name="_email" class="form-control" value="{{ last_username }}" id="inputEmail3" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-md-2 control-label">Contraseña</label>
				<div class="col-md-6">
					<input type="password" name="_password" class="form-control" id="inputPassword3" placeholder="Contraseña">

					<input type="hidden" name="_target_path" value="vct_modulo_inicio">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-6">
					<button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Entrar</button>
				</div>			
			</div>
		</form>		
	</div>	
{% endblock %}